@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Criar nova tarefa";
}

<h1>Criar nova tarefa</h1>
<form asp-action="Create">
    <div class="mb-3">
        <label name="Title" class="form-label">Título</label>
            <input type="text" class="form-control" name="Title" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label name="Description" class="form-label">Descrição</label>
        <textarea name="Description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" name="Finished">
        <label class="form-check-label" name="Finished">Finalizada</label>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
