@{
    ViewData["Title"] = "Tarefas";
}
<h1>
    Tarefas
</h1>
<p >
    <a class="btn btn-primary" asp-action="Create">Criar nova tarefa</a>
</p>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Tarefa1</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

    </div>
</div>