@model IEnumerable<ToDo.Models.TodoTask>
@{
    ViewData["Title"] = "Tarefas";
}
<h1 class="text-center">
    Tarefas
</h1>
<p class="text-center">
    <a class="btn btn-primary" asp-action="Create">Criar nova tarefa</a>
</p>
@foreach (var task in Model)
{
    <div class="card  mx-auto my-2 text-center" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(model => task.Title)</h5>
            <p class="card-text">@Html.DisplayFor(model => task.Description)</p>
            <div>
                @if (task.Finished)
                {
                    <span class="text-success">Finished</span>
                }
                else
                {
                    <span class="text-primary">To Do</span>
                }
                <a asp-action="Edit" asp-route-id="@task.Id" class="btn btn-outline-secondary py-1 px-2 mx-1">Editar</a>
            </div>

        </div>
    </div>
}